* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    outline: none;
}

body {
    background-color: #5537da;
    line-height: 1.6;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}

img {
    width: 300px;
    margin: 20px auto;
    display: block;
         
}

h2 {
    text-align: center;
    margin-bottom: 6px;
    margin-top: 12px;
    color: #000208;
    font-size: 25px;
    font-weight: 700;
}

input {
    text-align: left;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 60px;
    color: #333333;
    border-radius: 8px;
    border: none;
}

button {
    text-align: center;
    color: #333333;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: grey;
    color: #ffffff;
    font-size: 15px;
    box-shadow: 0px 18px 40px rgba(8, 9, 15, alpha);
    border: none;
}

button:hover {
    opacity: 0.9;    
}

button:active{
    opacity: 0.8;
}

footer {
    color: #ffffff;
    margin-top: 50px;
}


